* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
}

/* HEADER */

header {
  width: 100%;
  /* max-width: 2300px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Unbounded', cursive;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  /* margin: 12px; */
}

/* MENU */

.menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-self: center;
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  margin: 12px;
}

.menu__item {
  display: inline;
}

.menu__item__link {
  text-decoration: none;
  transition: all .1s;
  color: #6f6f6f;
  padding: 10px;
}

.menu__item__link:hover {
  background-color: #ffffffaf;
  border-radius: 5px 5px 0 0;
  color: #6653e4;
  border-bottom: #6653e4 5px solid;
  cursor: pointer;
}

.menu__item__link--current {
  color: #6653e4;
  border-bottom: #6653e4 5px solid;
  transition: border .1s;
}

/* SOCIAL */

.social-list {
  margin: 12px;
  padding: 0;
  /* vertical-align: center; */
}

.social-item {
  display: inline;
  list-style: none;
  padding: 0 8px;
  /* vertical-align: center;
  text-align: center; */
}

.social-item a {
  text-decoration: none;
  height: 24px;
  width: 24px;
  /* vertical-align: center;
  text-align: center; */
}

/* MENU E SOCIAL */


/* MAIN */

main {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin: 50px;
  padding: 16px 50px;
  padding: 16px 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
}

/* TIPOGRAPH */

h1, h2, h3, p {
  margin: 0;
  display: inline;
}

h1 {
  font-size: 42px;
  text-align: left;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 70px;
}

b {
  color: #6653e4;
}

h3 {
  font-size: 62px;
}

.info {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 30px 30px 0;
}

/* PICTURE */

img {
  border-radius: 50%;
  z-index: -1;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 8px;
  border-bottom: 10px solid #6653e4;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  font-weight: normal;
  font-family: 'Unbounded', cursive;
}

@media screen and (max-width: 790px) {

  /* header {
    justify-content: space-between;
  } */

  .logo {
    width: 100%;
    text-align: center;
  }

  .social-item {
    padding: 0 4px;
  }
}

@media screen and (max-width: 515px) {

  header {
    justify-content: center;
    row-gap: 20px;
  }

  .menu {
    margin-left: 0;
    margin-right: 0;
  }

  .menu li a {
    padding-left: 8px;
    padding-right: 8px;
  }

  .social-list {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .social-item {
    padding: 0 3vw;
  }
}