* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Roboto';
  background: #f5f5f5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */

.header {
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  font-family: 'Unbounded', cursive;
  font-size: 22px;
  font-weight: normal;

  white-space: nowrap;
  text-decoration: none;
  color: #000;

  padding: 8px;
}

/* MENU */

.header__menu {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;

  text-transform: uppercase;
  list-style: none;

  margin: 0;
  padding: 8px;
}

.menu__item {
  display: inline;
}

.menu__item__link {
  text-decoration: none;
  color: #6f6f6f;

  transition: all .1s;

  padding: 8px;
}

.menu__item__link:hover {
  border-bottom: #6653e4 4px solid;
  color: #6653e4;

  background-color: #ffffffaf;
  border-radius: 5px 5px 0 0;

  cursor: pointer;
}

.menu__item__link--current {
  border-bottom: #6653e4 4px solid;
  color: #6653e4;
}

/* SOCIAL */

.social-list {
  padding: 8px;
  margin: 0;
}

.social-item {
  display: inline;
  list-style: none;

  padding: 8px;
}

.social-item a {
  text-decoration: none;
}

/* MAIN */

.main {
  height: 100%;
  max-height: 600px;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  margin: 32px auto;
  padding: 16px;

  position: relative;
}

/* TIPOGRAPH */

.main__h1, .main__h2 {
  display: block;
  margin: 0 8px;
  padding: 8px;
}

.main__h1 {
  font-size: 40px;
  font-weight: 500;
}

.main__h2 {
  font-size: 64px;
  font-weight: 400;
}

b {
  color: #6653e4;
}

.about-me__conteiner {
  padding: 16px;
}

.main__about-me {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;

  padding: 0;
  margin: 0;

  width: 100%;
  max-width: 580px;
  line-height: 28px;
}

/* PICTURE */

.main__profile-picture {
  width: 380px;
  height: 380px;

  z-index: -1;
  position: absolute;

  right: 40px;
  top: calc(50% - 230px);

  margin: 16px;
  margin-top: 32px;

  border-radius: 50%;
  box-shadow: 30px 5px #6653e4;
}

/* FOOTER */

.footer {
  font-size: 12px;
  font-weight: normal;
  font-family: 'Unbounded', cursive;

  text-align: center;
  color: #333;

  padding: 8px;
  border-bottom: 8px solid #6653e4;
}

/* BUTTON */

.main__button, .main__button__link {
  padding: 20px 32px;
}

.main__button {
  margin: 16px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;

  background: #6653e4;
  border: none;
  border-radius: 100px;

  transition: background 1s ease; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
}

.main__button__link {
  text-decoration: none;
  color: #fff;
}

.main__button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
}

.main__button:active {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));
}

/* MOBILE */

@media screen and (max-width: 805px) {

  .header__logo {
    width: 100%;
    text-align: center;
  }

  .social-item {
    padding: 0 4px;
  }

}

@media screen and (max-width: 515px) {

  .header {
    justify-content: center;
    row-gap: 20px;
  }

  .header__menu {
    margin-left: 0;
    margin-right: 0;
  }

  .header__menu li a {
    padding-left: 4px;
    padding-right: 4px;
  }

  .social-list {
    margin-left: 0;
    margin-right: 0;
  }

  .social-item {
    padding: 0 3vw;
  }

  .main__h1 {
    font-size: 25px;
  }

  .main__h2 {
    font-size: 35px;
  }

  .main__profile-picture {
    width: 200px;
    height: 200px;
  }

}

@media screen and (max-width: 980px) {

  .main__profile-picture {
    position: static;
  }

  .main {
    align-items: center;
    text-align: center;

    height: auto;
    max-height: none;
  }

}