body{
  font-family: 'Roboto';
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, transparent, #d7d6da, transparent) 1;
}

.social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  /* border: 1px solid blue; */
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.social-item {
  display: inline;
  list-style: none;
}

.social-item a {
  text-decoration: none;
  padding: 8px;
}

.logo {
  font-family: 'Unbounded', cursive;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
}

h1 {
  font-size: 24px;
  text-align: left;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 70px;
}

h2 b {
  color: #6653e4;
}

.info {
  font-size: 18px;
}

.email {
  margin: 0;
  font-size: 18px;
  display: inline-flex;
  align-items: center;

  border-radius: 6px;
  color: black;
}

.email small {
  padding: 8px;
  background: #d7d6da;
  border-radius: 6px 0 0 6px;
  display: inline-flex;
  height: 29px;
  align-items: center;
}

.email button {
  background: #6653e4;
  border: none;
  padding: 8px;
  border-radius: 0 6px 6px 0;
}

.email svg {
  fill: #fff;
}

img {
  width: 400px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 200px);
  right: calc(45% - 500px);
  z-index: -1;
}

footer {
  background: #6653e4;
  text-align: center;
  padding: 8px;
}

footer small {
  color: #fff;
  font-size: 14px;
}