* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Roboto';
  background: #f5f5f5;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}